/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --shadow-color:#FF0070;
  --heading-color:#DB00FF;
  --headings-text-color: #000028;
  --main-title-color: var(--accent-color);
  --text-color:#F1B2CE;
  --background-color: #000028;
  --button-color:var(--accent-color);
  --background-image:url(../images/cover-image-dark.png);
  --hover-color: var(--accent-color);
  --rec-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --shadow-color: #ff0070;
    --heading-color: #db00ff;
    --headings-text-color: #000028;
    --main-title-color: var(--accent-color);
    --text-color: #f1b2ce;
    --background-color: #000028;
    --button-color: var(--accent-color);
    --background-image: url(../images/cover-image-dark.png);
    --hover-color: var(--accent-color);
    --rec-color: var(--accent-color);
  }
}

