/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --heading-color: #ffc2e6;
  --shadow-color: #FF0070;
  --headings-text-color: #353430;
  --text-color: #353430;
  --main-title-color: var(--text-color);
  --background-image: url(../images/cover-image-light.png);
  --hover-color: rgba(255, 0, 112, 0.4);
  --background-color: #fff1f7;
  --button-color: #353430;
  --rec-color: transparent;

}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --heading-color: #ffc2e6;
    --shadow-color: #ff0070;
    --headings-text-color: #353430;
    --text-color: #353430;
    --main-title-color: var(--text-color);
    --background-image: url(../images/cover-image-light.png);
    --hover-color: rgba(255, 0, 112, 0.4);
    --background-color: #fff1f7;
    --button-color: #353430;
    --rec-color: transparent;
  }
}

