/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background: var(--background-image) no-repeat top center,
    var(--background-color);
  background-size: auto 668px;
  background-attachment: fixed;
  font-family: var(--font-style);
  font-style: normal;
  line-height: 23.4px;
  color: var(--headings-text-color)
}

.header {
  display: grid;
  grid-template-rows: repeat(4, auto);
  position: relative;
  padding: 0 10px;
}

.header__rec {
  color: var(--rec-color);
  font-weight: var(--normal-font-weight);
  font-size: var(--main-font-size);
  position: absolute;
  right: 38px;
  top: 10px;
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
  top: 50%;
  right: 0;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
  bottom: 10px;
  left: 10px;
}

.header__theme-menu {
  justify-self: end;
}

.title-decor {
  background-color: var(--accent-color);
}
.header__heading {
  color: var(--heading-color);
  text-shadow: 4px 4px 0px var(--shadow-color);
  font-size: 116px;
  font-style: normal;
  font-weight: var(--bold-font-weight);
  line-height: 82.5%;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--button-color);
  background-color: transparent;
  border: 1px solid transparent;
  text-align: center;
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: var(--normal-font-weight);
  line-height: 18px; /* 100% */
  width: 70px;
  height: 26px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--button-color);
}

.header__paragraph {
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font-size);
  line-height: 23.4px;
}

@media (width<768px) {
  .header {
    min-height: 668px;
  }

  .header__theme-menu {
    margin-top: 75px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__paragraph {
    margin-bottom: 66px;
    height: 117px;
  }
  .header__heading {
    margin-top: 66.5px;
    margin-bottom: 55px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (768px<=width<1024px) {
  .header {
    min-height: 1024px;
    padding: 0 20px;
    padding-left: 0;
  }
  .page {
    background-size: auto 1024px;
  }
  .header__rec {
    top: 20px;
    right: 48px;
  }

  .header__theme-menu {
    margin-top: 192px;
  }
  .header__theme-menu-list {
    flex-direction: column;
  }
  .header__paragraph {
    margin-bottom: 183px;
    justify-self: end;
    width: 364px;
    min-height: 117px;
  }
  .header__heading {
    margin-top: 174.5px;
    margin-bottom: 162px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

@media (width>=1024px) {
  .page {
    background-size: 100% 100%;
  }
  .header__rec {
    top: 20px;
    right: 48px;
  }

  .header {
    padding: 0 20px;
    min-height: 768px;
    padding-left: 0;
  }
  .header__theme-menu {
    direction: row;
    justify-self: center;
    margin-left: 20px;
    margin-top: 20px;
  }
  .header__paragraph {
    margin-top: 114px;
    margin-bottom: 134px;
    justify-self: end;
    width: 491px;
    min-height: 71px;
  }
  .header__heading {
    margin-top: 274px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

.main {
  display: grid;
}

.main__section {
  display: grid;
}

.main__gallery__images {
  display: grid;
}

.main__title {
  background-color: transparent;
  color: var(--main-title-color);
  font-size: var(--main-font-size);
  font-weight: var(--bold-font-weight);
}

.main__subtitle {
  font-size: var(--main-font-size);
  color: var(--heading-text-color);
  background-color: var(--accent-color);
  font-weight: var(--bold-font-weight);
  margin-top: var(--subtitle-margin-top);
  margin-bottom: var(--subtitle-margin-bottom);
}

.main__subtitle-normal {
  font-weight: var(--normal-font-weight);
}

.main__paragraph {
  font-size: var(--main-font-size);
  font-weight: var(--normal-font-weight);
  color: var(--text-color);
}

.image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.main__link {
  text-decoration: none;
  text-shadow: 1px 1px 0px var(--accent-color);
}

.main__link:hover {
  text-decoration: underline;
}

.main__link:focus {
  border: 1px solid var(--text-color);
}

@media (width<768px) {
  .main {
    gap: var(--section-gap-mobile);
    padding: 0 10px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .main__gallery__images {
    gap: var(--image-gap-mobile);
  }

  .main__title {
    width: 100%;
  }

  .main__section:nth-of-type(3)
    .main__section__block:nth-of-type(1)
    .main__subtitle-normal:first-child {
    margin-top: 20px;
  }

  .main__gallery .main__subtitle {
    margin-top: 0;
  }
}

@media (768px<=width<1024px) {
  .main__title {
    width: 100%;
  }
  .main__subtitle {
    width: 100%;
  }

  .main__gallery .main__subtitle {
    width: 100%;
  }
  .main__section:nth-of-type(2) .main__title {
    width: 30%;
  }
}

@media (width>=768px) {
  .main {
    gap: var(--section-gap-desktope);
    padding: 0 20px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .main__section:first-child {
    grid-template-columns: 236px 472px;
    grid-template-rows: repeat(2, auto);
    column-gap: 20px;
  }
  .main__section:first-child .main__section__block:last-child {
    grid-column-start: 2;
    width: 100%;
  }

  .no-margin {
    margin-top: 0;
  }

  .main__section:nth-of-type(3) {
    grid-template-columns: 236px 472px;
    column-gap: 20px;
  }
  .main__section__blocks {
    display: grid;
    grid-template-rows: repeat(5, auto);
  }
  .main__section:nth-of-type(3)
    .main__section__block:nth-of-type(1)
    .main__subtitle-normal:first-child {
    margin-top: 10px;
  }

  .main__gallery .main__subtitle {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .main__gallery__images {
    gap: var(--image-gap-desktope);
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
  }

  .image:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .image:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  .image:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .image:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

@media (width>=1024px) {
  .main {
    gap: var(--section-gap-desktope);
  }

  .main__title {
    width: 100%;
  }
  .main__subtitle {
    width: 100%;
  }
  .main__gallery .main__subtitle {
    width: 100%;
  }

  .main__section:first-child {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, auto);
    column-gap: 10px;
    width: 100%;
  }

  .main__section:nth-of-type(2) {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
  .main__section:nth-of-type(2) .main__section__block {
    grid-row-start: 2;
    width: 100%;
  }

  .main__section:nth-of-type(3) {
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
  }
  .main__section:nth-of-type(3) .main__section__block {
    width: 100%;
  }
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (width<768px) {
  .footer {
    min-height: 668px;
    padding: 10px;
  }
}

@media (768px <= width < 1024px) {
  .footer {
    min-height: 1024px;
    padding: 20px;
  }
}

@media (width>=1024px) {
  .footer {
    min-height: 768px;
    padding: 20px;
    padding-bottom: 300px;
  }
}
