/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --title-font-size: 116px;
  --main-font-size: 18px;
  --font-style: "IBM Plex Mono", sans-serif;
  --main-gap: 40px; /* отступ между header, body, footer */
  --section-gap-mobile: 50px;
  --section-gap-desktope: 80px; /* отступ между секциями body*/
  --subtitle-margin-top: 20px;
  --subtitle-margin-bottom: 10px;
  --image-gap-mobile: 10px; /*отступ между картинками*/
  --image-gap-desktope: 20px;
  --bold-font-weight: 700;
  --normal-font-weight: 400;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --heading-color: #ffc2e6;
    --shadow-color: #ff0070;
    --headings-text-color: #ffc2e6;
    --text-color: #353430;
    --main-title-color: var(--text-color);
    --background-image: url(../images/cover-image-light.png);
    --hover-color: rgba(255, 0, 112, 0.4);
    --background-color: #fff1f7;
    --button-color: #353430;
    --rec-color: transparent;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --shadow-color: #ff0070;
    --heading-color: #db00ff;
    --headings-text-color: #000028;
    --main-title-color: var(--accent-color);
    --text-color: #f1b2ce;
    --background-color: #000028;
    --button-color: var(--accent-color);
    --background-image: url(../images/cover-image-dark.png);
    --hover-color: var(--accent-color);
    --rec-color: var(--accent-color);
  }
}
