/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --title-font-size: 116px;
  --main-font-size: 18px;
  --font-style: "IBM Plex Mono", sans-serif;
  --main-gap: 40px; /* отступ между header, body, footer */
  --section-gap-mobile: 50px;
  --section-gap-desktope: 80px; /* отступ между секциями body*/
  --subtitle-margin-top: 20px;
  --subtitle-margin-bottom: 10px;
  --image-gap-mobile: 10px; /*отступ между картинками*/
  --image-gap-desktope: 20px;
  --bold-font-weight: 700;
  --normal-font-weight: 400;
}


